@import '../../styles/settings.scss';

.navbar {
    color: $color-light;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    cursor: pointer;
    font-size: 24px;
}

.navigation {
	justify-content: space-between;
	background-color: darken($color-dark, 3%);
	display: flex;
  }

.navigation i {
  
  }

li a:hover {
    background-color: #111;
}

.navigation a {
	color: $color-light;
	text-decoration: none;
    display: block;
    padding: 14px 16px;
  }

.navigation ul {
	list-style: none;
	display: flex;
	flex-direction:row;
	margin-right: 50px;
	font-size: 15px;
  }

  .linkActive {
    color: $color-warning;
  }